:root {
  --button-transition:
      background-color 0.25s ease-out,
      border-color 0.25s ease-out,
      color 0.25s ease-out;
  --hue-back: 153;
  --hue-fore: 153;
  --sat-primary: 60%;
  --sat-secondary: 75%;
  --sat-tertiary: 80%;
  --lum-back-primary: 100%;
  --lum-back-secondary: 80%;
  --lum-back-tertiary: 60%;
  --lum-fore-primary: 50%;
  --lum-fore-secondary: 30%;
  --lum-fore-tertiary: 10%;
  --back-primary: hsl(0, 0%, var(--lum-back-primary));
  --back-secondary: hsl(0, 0%, var(--lum-back-secondary));
  --back-tertiary: hsl(0, 0%, var(--lum-back-tertiary));
  --fore-primary: hsl(0, 0%, var(--lum-fore-primary));
  --fore-secondary: hsl(0, 0%, var(--lum-fore-secondary));
  --fore-secondary-promote: var(--color-fore-primary);
  --fore-secondary-demote: var(---back-tertiary);
  --fore-tertiary: hsl(0, 0%, var(--lum-fore-tertiary));
  --color-back-primary: hsl(var(--hue-back), var(--sat-primary), var(--lum-back-primary));
  --color-back-secondary: hsl(var(--hue-back), var(--sat-secondary), var(--lum-back-secondary));
  --color-back-tertiary: hsl(var(--hue-back), var(--sat-tertiary), var(--lum-back-tertiary));
  --color-fore-primary: hsl(var(--hue-fore), var(--sat-primary), var(--lum-fore-primary));
  --color-fore-secondary: hsl(var(--hue-fore), var(--sat-secondary), var(--lum-fore-secondary));
  --color-fore-tertiary: hsl(var(--hue-fore), var(--sat-tertiary), var(--lum-fore-tertiary));
  --color-drop: red;

  --padding: 10px;
  --spacing: 20px;
  --header-height: 38px;
  --footer-height: 38px;
  --icon-size: 24px;
  --button-size: 43px;
  --border-size: 1px;
  --border: var(--border-size) solid var(--back-tertiary);
  --border-radius: 5px;
  --dropping-shadow: 
    var(--drop-size) var(--drop-size) 0 0 var(--color-drop) inset,
    calc(-1 * var(--drop-size)) calc(-1 * var(--drop-size)) 0 0 var(--color-drop) inset;
  ;
}

:root {
  color-scheme: dark light;
}


body { 
  font-family: sans-serif; 
}

body * {
  box-sizing: border-box;
}
body, article {
  width: 100vw; height: 100vh; padding: 0px; margin: 0px; display: flex;
  flex-direction: column;
}


main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header, footer, main {
  padding: var(--padding);
}
header, footer {
  background-color: var(--back-tertiary);
  color: var(--fore-tertiary);
  align-items: center;
}
header {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-auto-flow: column;
  gap: var(--padding);
}
footer {
  text-align: center;
}

aside {
  max-width: 350px;
}
/* 153°, 60%, 53% */


@media (prefers-color-scheme: dark) {
  :root {
    --lum-back-primary: 5%;
    --lum-back-secondary: 15%;
    --lum-back-tertiary: 20%;
    --lum-fore-primary: 30%;
    --lum-fore-secondary: 70%;
    --lum-fore-tertiary: 85%;
    --fore-secondary-promote: var(--color-fore-secondary);
    --fore-secondary-demote: var(--back-primary);
    --color-drop: yellow;
  }
}

/* main {
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: center;
} */
section { 
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr;
 
  /* width: fit-content;
  margin: auto; */
}


/* article { margin: 18px; } */

.button, button {
  --padding: 5px;
  --spacing: 5px;

  white-space: nowrap;
  display: inline-flex;
  gap: var(--spacing);
  padding: var(--padding);
  align-items: center;
  min-width: var(--button-size);
  font-size: 14px;
  height: var(--button-size);
  cursor: pointer;
  appearance: none;
  outline: none;
  font-weight: 500;
  border: var(--border);
  border-radius: var(--border-radius);

  color: var(--fore-secondary-promote);
  border-color: var(--fore-secondary-promote);

  background-color: var(--back-secondary);
  transition: var(--button-transition);
}


.button:hover, button:hover {
  color: var(--fore-secondary);
  border-color: var(--fore-secondary);
}

.button:disabled, button:disabled {
  cursor: default;
  color: var(--fore-secondary-demote);
  border-color: var(--fore-secondary-demote);
  background-color: var(--back-secondary-demote);
}

input[type=file] {
  visibility: hidden;
  vertical-align: bottom;
  width: 0px;
}

.upload {
  text-align: right;
}